<!DOCTYPE HTML>
<html>
    <head>
        <title>Actualizar usuario - Pet Home</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
        {% load static %}
        <!-- Call CSS -->
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/style/formUpdUsuarios.css' %}">
        <!-- Call JS -->
        <script type="text/javascript" src = {% static "core/js/bootstrap.min.js" %}> </script>
        <!--<script src = {% static "core/js/index.js" %}> </script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Formulario -->
        <div class="i-body">
            <div class="frame-actualizar">
                <div id="title" class="row justify-content-md-center">
                    <h1 class="justify-content-md-center">Actualizar usuarios</h1>
                </div>
                <form id="form-actualizar-user" action="{% url 'updUsuarios' %}" name="actualizar_usuario" method="POST">
                    {% csrf_token %}
                    <div class="row justify-content-md-center">
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <div class="row justify-content-md-center">
                                <!-- Campos para el ingreso de datos -->
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <label class="control-label col-xs-6" for="nombreUser" style="padding-bottom: 45px;">Nombre del usuario:</label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input class="form-control" id="nombreUser" name="nombreUser" type="text" placeholder="" required/>
                                </div> 
                                <br><br>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <label class="control-label col-xs-6" for="passwordUser" style="padding-bottom: 45px;">Contraseña </label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input class="form-control" id="passwordUser" name="passwordUser" type="text" placeholder=""/>
                                </div>
                                <br><br>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <label class="control-label col-xs-6" for="nroRutCli" style="padding-bottom: 45px;">Confirma los cambios con el rut del usuario: </label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input class="form-control" id="nroRutCli" name="nroRutCli" type="number" placeholder="09.876.543-2" minlength="5" required/>
                                </div>
                                <br><br>
                            </div>
                            <!-- Fin Campos para el ingreso de datos -->
                            
                            <!-- Botones -->
                            <div class="botones">
                                <a href="{% url 'mantenedorUsuarios.html' %}" type="reset" class="btn btn-info" id="volver_user" name="volver_user">Volver</a>
                                <button type="submit" class="btn btn-primary" id="actualizar_user" name="actualizar_user" value="actualizar_user">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Fin Formulario -->

        <!-- Footer -->
        <footer class="section footer-minimal context-dark">
            <div class="container">
                <p class="rights">
                    <span>©&nbsp;</span>
                    <span class="copyright-year">2021</span>
                    <span>.&nbsp;</span>
                    <span>Realizado por Darlene Navarro Romani | Duoc UC</span>
                </p>
            </div>
        </footer>
    </boody>
</html>